<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= pageTitle %></title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/addPassword/style.css" />
  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        <div class="container">
          <a class="navbar-brand" href="/">
            <img src="/images/logo.jpg" alt="" height="70" />
          </a>
        </div>
      </nav>
    </div>
    <section class="ftco-section">
      <div class="container">